
body{
  background-image:url(images/title.jpg);
  background-repeat:no-repeat;
}

table,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding:5px;
}
nav a{
  text-decoration:none;
}
