.blur{
    -webkit-filter:blur(10px);
    filter:blur(10px);
}
.middle{
    z-index:5;
    width:100%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle > *{
    width:60%;
}
