/*css.css*/

/*@imports*/

@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Comfortaa|Titillium+Web|Raleway);


/*tags*/
body{
    font-family: 'Raleway', cursive;
    background-color:#D4D4D4;
    margin:0px;
}

h1,h2{
    font-family: 'Titillium Web', cursive;
    color:#6464E8;
}
h1{
    font-size:2em;
    color:#4D339E;
}
nav ul li{
    display:inline; 
    padding-right:20px;
}
tr:nth-child(even){
    background-color:#FFF;
}
td{
    padding:3px;
}

/*classes*/
.header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E8AA64;
}
.content{
    margin:5px;
}
.coll{
    -webkit-column-count: 5;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 5;
	column-gap: 15px;
	column-fill: auto;
	margin:10px;
}
.post{
    border:2px solid #949494;
    padding:5px;
    background-color:#E4E4E4;
    -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	margin-bottom:10px;
}
.post img{
    width:90%;
    max-width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post .small{
    font-size:.75em;
}
@media (max-width: 1100px) {
	.coll {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
@media (max-width: 755px) {
	.coll {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}
