/*css.css*/


/*@imports*/

@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Comfortaa|Titillium+Web|Raleway);


/*tags*/
body{
    font-family: 'Raleway', cursive;
    background-color:#D4D4D4;
    margin:0px;
}

h1,h2{
    font-family: 'Titillium Web', cursive;
    color:#6464E8;
}
h1{
    font-size:2em;
    color:#4D339E;
}
nav ul li{
    display:inline; 
    padding-right:20px;
}
nav{
}

/*classes*/
.header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E8AA64;
}
.content{
    float:left;
    width:100%;
}

.post{
    border:2px solid #949494;
    width:calc(100% / 5.5);
    float:left;
    padding:5px;
    margin:5px;
}

.post p:nth-child(3){
    font-size:.75em;
}
